#To perform operations on tuple.

In [1]:
#Changing the elements of a tuples
my_data = (1, [9, 8, 7], "World")
print(my_data)

# changing the element of the list
# this is valid because list is mutable
my_data[1][2] = 99
print(my_data)

# changing the element of tuple
# This is not valid since tuple elements are immutable
# TypeError: 'tuple' object does not support item assignment
# my_data[0] = 101
# print(my_data)

(1, [9, 8, 7], 'World')
(1, [9, 8, 99], 'World')

In [2]:
#Delete the Operation on tuple
my_data = (1, 2, 3, 4, 5, 6)
print(my_data)

# not possible
# error
# del my_data[2]

# deleting entire tuple is possible
del my_data

# not possible
# error
# because my_data is deleted
# print(my_data)

(1, 2, 3, 4, 5, 6)

In [3]:
#Slicing operation in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# elements from 3rd to 5th
# prints (33, 44, 55)
print(my_data[2:5])

# elements from start to 4th
# prints (11, 22, 33, 44)
print(my_data[:4])

# elements from 5th to end
# prints (55, 66, 77, 88, 99)
print(my_data[4:])

# elements from 5th to second last
# prints (55, 66, 77, 88)
print(my_data[4:-1])

# displaying entire tuple
print(my_data[:])

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)

In [4]:
#Membership test in tuples
my_data = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(my_data)

# true
print(22 in my_data)

# false
print(2 in my_data)

# false
print(88 not in my_data)

# true
print(101 not in my_data)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
True
False
False
True

In [5]:
#Iterating a tuple
# tuple of fruits
my_tuple = ("Apple", "Orange", "Grapes", "Banana")

# iterating over tuple elements
for fruit in my_tuple:
     print(fruit)

Apple
Orange
Grapes
Banana

#To perform operations on dictionary.

In [9]:
#using loop

# Python3 code to demonstrate working of 
# Perform operation on each key dictionary 
# Using loop 

  
# Initialize dictionary 

test_dict = {'gfg' : 6, 'is' : 4, 'best' : 7} 

  
# printing original dictionary 

print("The original dictionary : " +  str(test_dict)) 

  
# Using loop 
# Perform operation on each key dictionary 

for key in test_dict:     

    test_dict[key] *= 3

  
# printing result  
print("The dictionary after triple each key's value : " + str(test_dict))

The original dictionary : {'gfg': 6, 'is': 4, 'best': 7}
The dictionary after triple each key's value : {'gfg': 18, 'is': 12, 'best': 21}

In [10]:
#Using Update
# Python3 code to demonstrate working of 
# Perform operation on each key dictionary 
# Using update() + dictionary comprehension 

  
# Initialize dictionary 

test_dict = {'gfg' : 6, 'is' : 4, 'best' : 7} 

  
# printing original dictionary 

print("The original dictionary : " +  str(test_dict)) 

  
# Using update() + dictionary comprehension 
# Perform operation on each key dictionary 

test_dict.update((x, y * 3) for x, y in test_dict.items()) 

  
# printing result  

print("The dictionary after triple each key's value : " + str(test_dict))

The original dictionary : {'gfg': 6, 'is': 4, 'best': 7}
The dictionary after triple each key's value : {'gfg': 18, 'is': 12, 'best': 21}

#Working with functions including recursive ones.

In [11]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21